.bodyshop {
    background-color: #FFDBE2;
}

.backgroundImg-Shop {
    background-image: url(../images-ice-crem/sweeny-home-1-decoration-2.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(255, 123, 189);
    color: antiquewhite;

}

.headershop ul li a {
    color: rgb(255, 123, 189);

}

h1 {
    font-family: "Rowdies", "display";
    font-weight: 400;
    line-height: 60px;
    font-size: 50px;
    color: rgb(255, 255, 255);

}

h2 {

    color: rgb(227, 79, 77);
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 53px;
    font-family: "Rowdies", "display";
}

.linksShop-products {
    padding: 10px 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: rgb(227, 79, 77);
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 19px;
    font-family: "Outfit", sans-serif;
}

.shopProductsPage-img img {
    border-radius: 20em 20em 20em 20em;
    border: 4px solid #eee;
}