body {
    font-style: normal;
    background-color: rgb(241, 250, 251);
}

svg {
    width: 100;
    display: inline-block;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {

    padding-left: 0;

}

h1,
h2,
h3,
h4,
h6,
p {

    margin-bottom: 0;
}

.container-95 {
    width: 95%;
}

.img-logo {
    max-width: 100%;
}

.w-16 {
    width: 16%;
}

.w-4 {
    width: 4%;
}

::selection {
    background-color: rgb(90, 57, 86);
    color: #ffffff;
}

.w-95 {
    width: 85%;
}

section {
    padding: 45px 0;
}

/* 
=======header********************************================= */
.nav-link:active,
.nav-link:hover {
    color: rgb(90, 57, 86);
}

.nav-link:focus,
.nav-link:hover {
    color: rgb(91, 48, 81);
}

.nav-link:hover i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}

.nav-link {
    transition: all .30s;
    -webkit-transition: all .30s;
    -moz-transition: all .30s;
    -ms-transition: all .30s;
    -o-transition: all .30s;
    overflow: hidden;
}

.nav-link,
.header-button-icons a,
.button-header {
    font-size: 16px;
    font-family: "outfit", sans-serif;
    font-weight: 600;
    color: #39A0A7;

}

.button-header {
    background-color: #39A0A7;
}

.nav-link i {
    font-size: 13px;
}

.header-button-icons a:hover {
    color: rgb(90, 57, 86);
}

.first-LinkSectionOne {
    font-family: "Outfit";
    font-weight: 400px;
    font-size: 19px;
    line-height: 19px;
    padding: 20px 0;
    padding: 15px 45px;
    color: aliceblue;
    margin-top: 10px;
    background-color: #fd6ba0;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.first-LinkSectionOne::after {
    content: "";
    position: absolute;
    inset: 0;
    left: -10%;
    right: -10%;
    width: 0%;
    height: 0%;
    border: none;
    border-radius: 30px;
    z-index: -1;
    background-color: blueviolet;
}

/* =============== */
/*section one************************/
/* ================img section one key frames */
.img-position-sectionOne {
    top: -20%;
    right: -6%;
    position: absolute;
    z-index: 4;
    transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    animation: ice-rotate 2s infinite alternate;
    -webkit-animation: ice-rotate 1s infinite alternate;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

@keyframes ice-rotate {
    0% {
        position: absolute;
        top: -20%;
    }

    100% {
        position: absolute;
        right: -3%;
        top: -14%;
    }
}

.section-One {
    overflow: hidden;
}

.bg-sectionOne {
    animation: background 5s 5s infinite alternate ease;
    background-color: #39A0A7;
    -webkit-animation: background 5s 5s infinite alternate ease;

}

.first-H2ectionOne {
    font-size: 24px;
    font-family: "Rowdies", "display";
    font-weight: 400;
    line-height: 29px;
}

.first-H2SectionOne {
    font-family: "Rowdies", "display";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.first-PSectionOne {
    font-family: "Outfit";
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    padding: 15px 0;
}

.p-Afterfirst-H22SectionOne {
    font-family: "outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.first-H22SectionOne {
    font-family: "Rowdies", "display";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.partone-h1 {
    position: absolute;
    top: 15%;
    right: 46%;
    font-family: "Rowdies";
    font-weight: 700;
    font-size: 148px;
    line-height: 178px;
}

.partTwo-h1 {
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 54%;
    font-family: "Rowdies";
    font-weight: 700;
    font-size: 148px;
    line-height: 178px;
}

.container-parthree__sectionOne {
    position: absolute;
    right: 2%;
    top: 65%;
    padding: 10px;

}

.container-parthree__sectionOne__IceImage {
    position: relative;
    right: 2%;
}

.img-position-ourPrice,
.img-bg-cardourprice,
.container-parthree__sectionOne__IceCercileImage {
    animation-name: top;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

}

@keyframes top {

    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
}

.containerIceImage-PartTwo__sectionOne,
.img-bg-cardourprice,
.img-rotate-vedio,
.img-rotate-imgborderradious,
.container-parthree__sectionOne__IceImage {
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    animation-name: moveright-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moveright-left {
    0% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
}

/* section Two=move part 1=================== */
/* =============================== */
p img {
    width: 70px;
    height: 70px;
}

.pragraph-imgTwo {
    width: 200px;
    height: 60px;
}

.p-withimgs {
    font-family: "Rowdies", sans-serif;
    font-style: normal;
    font-size: 31px;
    font-weight: 400;
    line-height: 81px;
    color: rgb(255, 255, 255);
}


.h2-afterimgtop {
    font-family: "Rowdies", sans-serif;
    font-style: normal;
    font-size: 61px;
    font-weight: 400;
    line-height: 74px;
    color: rgb(255, 255, 255);

}

.img,
.smalll-svginparagrapg,
.img-Scale-bg-imgdotesSection,
.img-Scale2-bg-imgdotesSection {
    transform: scale(5.5);
    animation-name: scale;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-transform: scale(5.5);
    -moz-transform: scale(5.5);
    -ms-transform: scale(5.5);
    -o-transform: scale(5.5);
}

@keyframes scale {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

.container-bg-darkslateblue {
    background-color: #b3afd3;
}

.bg-backgroundImage-white {
    width: 90%;
}

.bg-backgroundImage-white {
    mask-image: url(../images-ice-crem/download.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.smalll-svginparagrapg {
    width: 5%;
    top: 52%;
    left: 2%;
    position: absolute;
}

.container-ImgPositionBeforH2 {
    position: relative;
    top: -25%;
    left: 25%;
    background-color: #ffffff;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    z-index: 1;
    box-shadow: 2px 3px 5px 7px rgba(39, 39, 39, 0.186);
    padding-bottom: 35px;
    width: 90%;

}

.container-ImgPositionBeforH2-Img-z-2 {
    z-index: 222;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 10%;
}

.img-tota {
    position: relative;
    top: -25%;
    right: 25%;
    background-color: #ffffff;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    z-index: 1;
    box-shadow: 2px 3px 5px 7px rgba(39, 39, 39, 0.186);
    padding-bottom: 35px;
    width: 90%;
}

.imgbox2 {
    z-index: 123;
    position: absolute;
    top: 20%;
    right: 22%;
    width: 5%;
}


/* ============part 2 section move background============================== */
.w-25-img {
    width: 35%;
}

.imgposition-h2backgroundwhite {
    position: absolute;
    left: 0%;
    bottom: -18%;
    z-index: 2;
}

.imgposition2-h2backgroundwhite {
    position: absolute;
    right: 0%;
    bottom: -17%;
    z-index: 2;
}

.linkViewMore-Sectionwhite {
    padding: 15px 35px;
    border-radius: 20px;
    background-color: rgb(90, 57, 86);
    color: white;
    font-family: "outfit", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 19px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.imgposition3-h2backgroundwhite {
    position: absolute;
    bottom: -1%;
    right: -2%;
    z-index: 111;
}

.imgposition-h2backgroundwhite img {
    width: 100%;
}

.mainheader-bg-backgroundImg-white h2 {
    font-family: "Rowdies", "disply";
    font-Weight: 400;
    Color: rgb(148, 111, 140);
    font-size: 44px;
    line-height: 53px;
}

.img-roundedSection h3,
h4 {
    font-family: "Rowdies";
    font-size: 25px;
    font-weight: 300;
    color: rgb(90, 57, 86);
}

.container-img-rounded {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    transition: border 2s;
    -webkit-transition: border 2s;
    -moz-transition: border 2s;
    -ms-transition: border 2s;
    -o-transition: border 2s;
}

.img-rounded {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-img-rounded::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 0%;
    height: 0%;
    background-color: #ffb6d180;
    z-index: 3;
}

.container-img-rounded:hover {
    border: 5px solid rgb(90, 57, 86);
}

.container-img-rounded:hover ::after {
    width: 100%;
    height: 100%;
}

.main-container-img-rounded:hover ::after {
    width: 100%;
    height: 100%;
}

.main-container-img-rounded {
    overflow: hidden;
}

.main-container-img-rounded:hover .container-img-rounded {
    border: 5px solid rgb(90, 57, 86);

}

.main-container-img-rounded h3:hover {
    color: #FD85B2;
}

.container-link-after {
    overflow: hidden;
}

.container-link-after a {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(90, 57, 86);
    padding: 14px 39px;
    border-radius: 30px;
    display: inline-block;
    width: 55%;
    color: rgb(255, 255, 255);
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    opacity: 0;
}

.main-container-img-rounded:hover .container-link-after a {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 4;
}

.imgTwoProduct-opasity {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: opasity .4s ease-out;
    -webkit-transition: opasity .4s ease-out;
    -moz-transition: opasity .4s ease-out;
    -ms-transition: opasity .4s ease-out;
    -o-transition: opasity .4s ease-out;
}

.main-container-img-rounded:hover .imgTwoProduct-opasity {
    opacity: 1;
    z-index: 1;
}

.main-container-img-rounded:hover .imgOneProduct-opasity {
    opacity: 0;
}

/* ==**********section vedio======= */
.vedio-section p,
.vedio-section h3 {
    font-family: "Outfit", sans-serif;
    color: rgb(90, 57, 86);
    line-height: 28px;
    font-weight: 400;
    font-size: 16px;
}

.vedio-section h2 {
    font-family: "Rowdies", "disply";
    color: rgb(148, 111, 140);
    line-height: 53px;
    font-weight: 400;
    font-size: 44px;
}

.img-rotate-vedio {
    bottom: 10%;
    left: 3%;
    position: absolute;
}

.position-P1-aroundvedio {
    top: 5%;
    left: 40%
}

.position-P3-aroundvedio {
    top: 5%;
    left: 40%;
}

.position-P12-aroundvedio {
    top: 5%;
    right: 40%;
}

.position-P23-aroundvedio {
    top: 5%;
    right: 40%;
}

.position-absolutelink-vedio {
    bottom: 2%;
    left: 3%;
    background-color: #FD85B2;
    font-weight: 600;
    font-size: 19px;
    font-family: "outfit", sans-serif;
    line-height: 19px;
}

/* =================================== */
/*section animatoin move /orders move*/
/* ===============================*/
.slider {
    background-color: #38dfd9;

}

.slide-trak {
    width: calc(780px * 8);
    display: flex;
}

.slide-trak li {
    width: 780px;
    font-family: "Rowdies", "display";
    font-size: 41px;
    font-weight: 400;
    line-height: 42px;

}

.slide-trak li {
    animation: 10s slide infinite linear;
    animation-direction: alternate;
    -webkit-animation: 10s slide infinite linear;
}

@keyframes slide {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    100% {
        /* transform: translate(-100%); */
        transform: translateX(calc(-780px * 4));
        -webkit-transform: translate(-100%);
        -moz-transform: translate(-100%);
        -ms-transform: translate(-100%);
        -o-transform: translate(-100%);
    }
}

.slider:hover li {
    animation-play-state: paused;
    cursor: pointer;
}

/* ==================================== */
/*==================*section triangle* our price*******************************==*=/ */
/* ========================== */
.cardOne-OurPackagePrice:hover {
    cursor: pointer;
}

.img-position-ourPrice {
    bottom: -40%;
    left: 0%;
    z-index: 4;
    position: absolute;
}

.cardOne-OurPackagePrice {
    background: linear-gradient(rgb(244, 110, 173), rgba(247, 113, 180, 0.757));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cardthree-OurPackagePrice {
    background: linear-gradient(#09C1DC, #09C1DC);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cardTwo-OurPackagePrice {
    background: linear-gradient(rgb(155, 193, 48), rgba(154, 193, 48, 0.734));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.title-cardimg-triangleImg {
    position: absolute;
    top: 40%;
    left: 46%;
    z-index: 9;
    text-align: center;
    padding: 15px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.img-triangleImg {
    overflow: hidden;
    transition: all 4s;
    -webkit-transition: all .4s;
    -moz-transition: all 4s;
    -ms-transition: all 4s;
    -o-transition: all .4s;
    clip-path: polygon(0 0, 100% 0%, 100% 45%, 0 47%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.img-triangleImg2 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    clip-path: polygon(0 0, 100% 0%, 100% 45%, 1% 96%);
}

.cardOne-OurPackagePrice:hover .img-triangleImg,
.cardthree-OurPackagePrice:hover .img-triangleImg {
    clip-path: polygon(0 0, 100% 0%, 100% 45%, 1% 96%);
}

.layer-imgcard-lineargradientdashedbored::after {
    position: absolute;
    background: linear-gradient(rgb(244, 110, 173), rgba(247, 113, 180, 0.757));

    width: 90%;
    height: auto;
    content: "";
    inset: 0;
    left: 5%;
    right: 10%;
    top: 5%;
    bottom: 3%;
    border-radius: 5px;
}

.layer-imgcard-lineargradientdashedbored2::after {
    position: absolute;
    background: linear-gradient(rgb(155, 193, 48), rgba(154, 193, 48, 0.734));
    width: 90%;
    height: auto;
    content: "";
    inset: 0;
    left: 5%;
    right: 10%;
    top: 5%;
    bottom: 3%;
    border-radius: 5px;
}

.layer-imgcard-lineargradientdashedbored3::after {

    position: absolute;
    background: linear-gradient(#09c0dcca, #15bfd9c2);
    width: 90%;
    height: auto;
    content: "";
    inset: 0;
    left: 5%;
    right: 10%;
    top: 5%;
    bottom: 3%;
    border-radius: 5px;

}

.borderCard-dashed {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(244, 244, 244) 50%, transparent 50%),
        linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent 50%),
        linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%),
        linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 10px;
    animation: dash 9s linear infinite;
    -webkit-animation: dash 9s linear infinite;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 7;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

h2.MainTitleSection-OurPackagePrice {
    font-size: 44px;
    font-family: "Rowdies", "display";
    font-weight: 400;
    line-height: 53px;
    color: rgb(155, 193, 48);
}

.BirthDayText {
    position: absolute;
    top: 20%;
    left: 22%;
    z-index: 6;
    transform: (-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -moz-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    -o-transform: (-50%, -50%);
}

.h3-Title-OurPackagePrice {
    font-size: 61px;
    line-height: 61px;
    font-weight: 400;
    font-family: "Rowdies", sans-serif;
}

.h3-BirthDay {
    font-family: "Rowdies", sans-serif;
    font-size: 24px;
    list-style: 29px;
    font-weight: 400;
}

.spanTitle-OurPackagePrice,
.ulList-cardOurPackagePrice {
    font-family: "outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.ulList-cardOurPackagePrice::before {
    content: "";
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 9px;
    border-bottom: 2px dashed #ffffff;
    position: absolute;
    z-index: 7;
}

.ulList-cardOurPackagePrice li {
    width: 80%;
}

.ulList-cardOurPackagePrice li svg {
    vertical-align: unset;
}

.button-cardourprice {
    color: #FD85B2;
}

.img-bg-cardourprice {
    top: 60%;
    left: 0%;
}


/* ========================================= */
/* secttion bg-dotes */
/*================================== ⬅
section img bg-dotes/its time to engoy
/* ================================ */
.imgicecrem-bg-dotes {
    transform: translate(-90px, -70px);
    -webkit-transform: translate(-90px, -70px);
    -moz-transform: translate(-90px, -70px);
    -ms-transform: translate(-90px, -70px);
    -o-transform: translate(-90px, -70px);
}

.imgTwoicecrem-bg-dotes {
    transform: translatex(40px) rotate(30deg);
    -webkit-transform: translatex(40px) rotate(30deg);
    -moz-transform: translatex(40px) rotate(30deg);
    -ms-transform: translatex(40px) rotate(30deg);
    -o-transform: translatex(40px) rotate(30deg);
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    animation: icerotate 2s infinite alternate linear;
    -webkit-animation: icerotate 2s infinite alternate linear;
}

@keyframes icerotate {

    0% {
        transform: translate(40px) rotate(30deg);
        -webkit-transform: translate(40px) rotate(30deg);
        -moz-transform: translate(40px) rotate(30deg);
        -ms-transform: translate(40px) rotate(30deg);
        -o-transform: translate(40px) rotate(30deg);
    }



    100% {
        transform: translate(50px) rotate(40deg);
        -webkit-transform: translate(50px) rotate(40deg);
        -moz-transform: translate(50px) rotate(40deg);
        -ms-transform: translate(50px) rotate(40deg);
        -o-transform: translate(50px) rotate(40deg);
    }
}

.bg-imgdotes-imgplateicecrem {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bg-imgdotes {
    background-image: url(../images-ice-crem/sweeny-home-1-decoration-2.png);
    background-color: #fd6ba0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-imdotes-imgplateicecrem,
.image-ice-cremplate-icecream {
    transform: rotate(360deg);
    animation: alternate 2s plate-rotate infinite linear;
}

@keyframes plate-rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.bg-imdotes-imgplateicecrem {
    transform: translatex(-10px);
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -ms-transform: translatex(-10px);
    -o-transform: translatex(-10px);
}

.img-Scale2-bg-imgdotesSection {
    position: absolute;
    bottom: 100%;
    left: 40%;
}

.img-Scale2-bg-imgdotesSection {
    animation: scale2 infinite alternate 1s linear;
    -webkit-animation: scale2 infinite alternate 1s linear;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

@keyframes scale2 {

    0% {
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

}

/* ============================= */
/*===========================================/
 Animation Style img-borderradious-20
================================*********************/
table {
    background-color: rgb(255, 147, 179);
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: "outfit", sans-serif;
}

th {
    padding: 15px 20px;
    color: rgb(90, 57, 86);

}

.tr-befor::before {
    width: 0;
}

tr::before {
    width: 28%;
    content: "";
    margin-left: 10px;
    position: absolute;
    border-top: 2px #ffffff dashed;
}

tbody tr td {

    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 20px;

}

.table-container>h2 {
    color: rgb(90, 57, 86);
}

.border-Move-UnderLi {
    height: 100%;
    width: 100%;
    background:
        linear-gradient(90deg, rgb(67, 43, 92) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 10px;
    animation: dash 9s linear infinite;
    z-index: 7;
}

.list-beforborderradiousimg li.li-chiled1 {
    color: #FD85B2;
}

.list-beforborderradiousimg li {
    padding: 25px 0;
    text-align: center;
    font-family: "Rowdies", "display";
    font-Weight: 400;
    Color: rgb(90, 57, 86);
    font-Size: 24px;
    line-height: 29px;
}

.img-borderradious-20 {
    border-radius: 20em;
    border: 5px solid rgb(88, 56, 110);
    position: relative;
    overflow: hidden;
}

.img-borderradious-20::after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

.img-borderradious-20:hover::after {
    height: 100%;
    left: 100%;
    top: 0;
    width: 50%;
    z-index: 2;
    transform: skewX(-25deg);
    background: linear-gradient(left, rgba(186, 182, 182, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(left, rgba(180, 179, 179, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -moz-linear-gradient(to right, rgba(170, 170, 170, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(to right, rgba(220, 220, 220, 0) 0%, rgba(255, 255, 255, .3) 100%);
}

.title-imgborderradious h2 {
    font-size: 44px;
    font-family: "Rowdies", "display";
    line-height: 53px;
    font-weight: 400;
    color: #39A0A7;
}

/* ===section yummy *************************************================== */
/* ============================= */
.container-YummyToppings {
    background-color: #39A0A7;
}

.img-plat-YummyToppings,
.img-icecrem-YummyToppings,
.img-donuts {
    overflow: hidden;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    animation: img-yummy 1s linear infinite alternate;
    -webkit-animation: img-yummy 1s linear infinite alternate;
}

@keyframes img-yummy {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);

    }

    100% {
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
    }
}

.body-card-yommy h3 {
    font-size: 25px;
    font-family: "Rowdies", "display";
    line-height: 30px;
    font-weight: 300;
}

.body-card-yommy span {
    font-size: 17px;
    font-family: "outfit", sans-serif;
    line-height: 30px;
    font-weight: 500;
}

.title-YummyToppings {
    font-size: 44px;
    line-height: 53px;
    font-family: "Rowdies", "display";
    font-weight: 400;
    padding: 45px 0;
}

.img-icecrem-YummyToppings {
    bottom: 70%;
    left: 0%
}

.img-plat-YummyToppings {
    bottom: 80%;
    right: 0%;
}

/* ========================================== */
/* section our bloge==================== */
/* =================================== */
.button-blog {
    background-color: #133650
}

h2.maintitleSectionCard-ImgBotomAndTop {
    color: rgb(227, 79, 77);
    font-family: "Rowdies", "display";
    font-Weight: 400;
    font-Size: 44px;
    line-height: 53px;
}

.card-One-background-yellow {
    background-color: #EAC76F;
}

.card-ImgBottomAndTop span,
.spanCardTwo {
    font-weight: 600px;
    font-family: "outfit", sans-serif;
    font-Weight: 400;
    font-Size: 16px;
    line-height: 28px
}

.card-BodyOne h2,
.card-Bodytwo h2,
.card-BodyThree h2 {
    font-family: "Rowdies", "display";
    font-Weight: 400;
    font-Size: 34px;
    line-height: 41px;
    text-align: start;

}

.card-BodyOne h2:hover,
.card-Bodytwo h2:hover,
.card-BodyThree h2:hover {
    Color: rgb(90, 57, 86);
    cursor: pointer;
}

.card-One-background-yellow {
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

.card-ImgOne img {
    border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}

.card-ImgOne::after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

.card-One-backdround-yellow:hover::after {
    height: 100%;
    left: 100%;
    top: 0;
    width: 50%;
    z-index: 1;
    transform: skewX(-25deg);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);

}

.card-Three-background-pink {
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
}

.card-ImgThree::after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

.card-Three-background-pink:hover::after {
    height: 52%;
    left: 100%;
    top: 0;
    width: 50%;
    z-index: 1;
    transform: skewX(-25deg);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);

}

.card-ImgThree img {
    border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}

.card-Imgtwo::after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

.cardTwo-Background-blakblue:hover::after {
    height: 100%;
    left: 100%;
    top: 0;
    width: 50%;
    z-index: 1;
    transform: skewX(-25deg);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
}

.cardTwo-Background-blakblue {
    background-color: #39A0A7;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    overflow: hidden;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

.card-Imgtwo img {
    border-radius: 0px 0px 30px 30px;
}

.Button-CardTwo {
    background-color: #2d6993
}

.card-Three-background-pink {
    background-color: #FD85B2;
}

.Button-CardThree {
    background-color: rgb(41, 67, 115);
}

/* =================================== */
/*section animatoin images move*/
/* ===============================*/
.slide-trakTwo {
    width: calc(250px * 18);
    display: flex;
}

.slide-trakTwo li {
    width: 250px;
    font-family: "Rowdies", "display";
    font-size: 41px;
    font-weight: 400;
    line-height: 42px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 10px;
    perspective: 600px;

}

li img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.slide-trakTwo li {
    animation: 25s slideTwo infinite ease;
    animation-direction: alternate;
    -webkit-animation: 25s slideTwo infinite ease;
}

@keyframes slideTwo {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
        -webkit-transform: translateX(calc(-250px * 9));
        -moz-transform: translateX(calc(-250px * 9));
        -ms-transform: translateX(calc(-250px * 9));
        -o-transform: translateX(calc(-250px * 9));
    }
}

.sliderTwo:hover li {
    animation-play-state: paused;
    cursor: pointer;
}

img:hover {
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
}

.containerimg-logos img {
    transform: scale(1.2);
    transition: all 2s;
    overflow: hidden;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.containerimg-logos img:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    cursor: pointer;

}

h2.title-SectionLogo {
    font-family: 'Rowdies', "display";
    font-size: 44px;
    font-weight: 400;
    line-height: 53px;
    color: #FD85B2;
}
/* ============section fun////////=============== */
.title-SectionFun {
    font-size: 44px;
    font-weight: 400;
    font-family: "Rowdies", "display";
    line-height: 53px;
}

.paragraph-SectionnFun {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.bg-SectionFun {
    overflow: hidden;
    background-color: rgb(90, 57, 86);
}

.image-ice-cremplate-icecream {
    position: absolute;
    top: -4%;
    right: -4%;
    width: 22%;
    animation: alternate 2s plate-rotate infinite linear;

}

.text1-positionsvg {
    top: 50%;
    left: 50%;
    font-size: 59px;
    font-family: "Rowdies", "display";
    line-height: 59px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text1-positionsvg span:nth-child(1) {
    top: 50%;
    left: 50%;
    font-size: 59px;
    font-family: "Rowdies", "display";
    line-height: 59px;
}

.text1-positionsvg span {
    top: 50%;
    left: 50%;
    font-size: 19px;
    font-family: "outfit", sans-serif;
    line-height: 22px;
}

.Images-positionRelote {
    position: absolute;
    bottom: -10%;
    left: 9%;
    transform: translate(-9px);
    -webkit-transform: translate(-9px);
    -moz-transform: translate(-9px);
    -ms-transform: translate(-9px);
    -o-transform: translate(-9px);
}

.gallaryFun-img-1 {
    transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    -moz-transform: rotate(-19deg);
    -ms-transform: rotate(-19deg);
    -o-transform: rotate(-19deg);
    transition: all  1s ease-in-out;
    -webkit-transition: all  1s ease-in-out;
    -moz-transition: all  1s ease-in-out;
    -ms-transition: all  1s ease-in-out;
    -o-transition: all  1s ease-in-out;
    animation: imgs-move alternate infinite 1s linear ;
    -webkit-animation: imgs-move alternate infinite 1s linear ;
}

@keyframes imgs-move{

0%{ transform:rotate(-19deg) ;
}
    100%{
        transform: rotate(19deg);
        -webkit-transform: rotate(19deg);
        -moz-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
        -o-transform: rotate(19deg);
}
}

.gallaryFun-img-1:hover {
    transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    -moz-transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    -o-transform: rotate(19deg);

}

.gallaryFun-img-2 {
    transform: rotate(19deg);
    animation:infinite 1s alternate imgs2-move ;
    transition: all 1s ease-in-out;
    -webkit-animation:infinite 1s alternate imgs2-move linear ;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    animation-delay: 2s;
}

.gallaryFun-img-2:hover {
    transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    -moz-transform: rotate(-19deg);
    -ms-transform: rotate(-19deg);
    -o-transform: rotate(-19deg);
}
.gallaryFun-img-1:hover .gallaryFun-img-2 {
    transform: translate(19);
    -webkit-transform: translate(19);
    -moz-transform: translate(19);
    -ms-transform: translate(19);
    -o-transform: translate(19);
}

.gallaryFun-img-3 {
    transform: rotate(-19deg);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    animation: imgs-move 1s alternate infinite linear ;
    -webkit-animation: imgs-move 1s alternate infinite linear ;
}

.gallaryFun-img-3:hover {
    transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    -moz-transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    -o-transform: rotate(19deg);
}

.gallaryFun-img-4 {
    transform: rotate(19deg);
    animation: imgs2-move infinite alternate 1s linear;
    -webkit-animation: imgs2-move infinite alternate 1s linear;
}

@keyframes imgs2-move{
    0%{
        transform: rotate(19deg);

    }

    100%{
        transform: rotate(-19deg);
       
}
}

.gallaryFun-img-4:hover {
    transform: rotate(-19deg);
    -moz-transform: rotate(-19deg);
    -ms-transform: rotate(-19deg);
    -o-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
}

.img-donuts {
    bottom: -13%;
    left: -13%;
}


/* ================================= */
.footer {
    background-image: url(../images-ice-crem/decor-color-bg-2.svg);
    background-color: #f574a4;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "outfit",sans-serif;
    font-weight: 400;
  font-size: 16;
line-height: 28px;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}



.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0;
    color: #ffffff;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #ffffff;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #d9d8d8;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #ffffff;
}

.footer-col .icons i:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}